.bton{
   
    background-color: black;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    color:white;
    border-radius: 3px;
}
.bton:focus{
  
  box-shadow: 0 0 10px black;
   background-color: white;
   color:black;
    outline: none !important;
    border:none;


}
 .form-control{
        border-width: 2px;
        border-color:rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0);
    }
    .form-control:focus {
    outline: none !important;
    border:1px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 10px black;
}
 

 ::-moz-selection {
       background-color: black;
       color: white;
}

/* Works in Safari */
::selection {
       background-color: black;
       color: white;
}
h3{
 font-family: 'helveticaneuecondensedbold';}
}

.navbar-default {
    background-color: white;
    border-width: 1px;
    border-color: black;
    box-shadow: 0 0 10px black;
}

