.navbar-toggle {


  background-color: black;
  border-width: 0px;
  border-radius: 0px;

}
.navbar-toggle span .icon-bar{
  color:white;

}
.success{
    color:green;
    background-color: rgb(156, 204, 156);
    text-align:center;

}
.error{
    color: red;
    padding: 0 px;
    margin: 0 px;
    background-color: rgb(172, 110, 110);

    text-align: right;
}
body{
    font-family: 'helveticaneuecondensedbold';
    background-color: white;
}

 .row{
        margin-right: 0px;
        margin-top: 0px;
        padding-top: 0px;


    }
    
    .col-md-9{
        background-color: #ECF0F1;
        margin-right: 0px;
        margin-top: 0px;
        padding-right: 4%;
        padding-top: 3%;
        padding-left:4%;
        padding-bottom: 40px;

    }
    body{
        background-image:url('../img/bg2.jpg');
      }
      .left{
        padding-left: 20px;
        padding-top: 30px;
          color: white;
        
      }
      .left h5{
        font-size: 30px;
        font-family: 'helveticaneuecondensedbold';
      
      }
      .left h6{
         font-family: 'helveticaneuecondensedbold';
      font-size: 20px;
      color:#979A9A;
      
      }



.bton{
   
    background-color: black;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    padding-left: 20px;
    padding-right: 20px;
    color:white;
    border-radius: 3px;
}
.bton:focus{
  
  box-shadow: 0 0 10px black;
   background-color: white;
   color:black;
    outline: none !important;
    border:none;


}
 .form-control{
        border-width: 2px;
        border-color:rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0);
    }
    .form-control:focus {
    outline: none !important;
    border:1px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 10px black;
}
 

 ::-moz-selection {
       background-color: black;
       color: white;
}

/* Works in Safari */
::selection {
       background-color: black;
       color: white;
}
h3{
 font-family: 'helveticaneuecondensedbold';
}


.navbar-default {
    background-color: black;
    color:white;
    border-width: 0px;
   border-radius: 0px;
   margin-bottom: 0px;
    }


  



    .navbar-default .navbar-brand {
    color: white;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
    color: white;
}
/* Link */
.navbar-default .navbar-nav > li > a {
    color: rgba(255,255,255,0.8);
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
    color: rgba(255,255,255,0.8);
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: white;
    background-color: rgba(255,255,255,0.8);
}
