.newpost{
   
    padding:16px 0;
}

.post{
    border-left-color: rgb(228, 98, 98);
    }
.info{
    font-style: italic;
    color:#aaa;

}    
.success{
    color:green;
    background-color: rgb(156, 204, 156);
    text-align:center;

}
.error{
    color: red;
    padding: 0 px;
    margin: 0 px;
    background-color: rgb(172, 110, 110);

    text-align: right;
}
body{
    font-family: 'helveticaneuecondensedbold';
}
.bton{
   
    background-color: black;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    color:white;
    border-radius: 3px;
     padding-left: 20px;
    padding-right: 20px;
}
.bton1{
   
    background-color: white;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    color:black;
    border-radius: 3px;
     padding-left: 20px;
    padding-right: 20px;
}
.bton:focus{
  
  box-shadow: 0 0 10px black;
   background-color: white;
   color:black;
    outline: none !important;
    border:none;


}
.bton1:focus{
  
  box-shadow: 0 0 10px black;
   background-color: black;
   color:white;
    outline: none !important;
    border:none;


}
 .form-control{
        border-width: 2px;
        border-color:rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0);
    }
    .form-control:focus {
    outline: none !important;
    border:1px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 10px black;
}
 

 ::-moz-selection {
       background-color: black;
       color: white;
}

/* Works in Safari */
::selection {
       background-color: black;
       color: white;
}
h3{
 font-family: 'helveticaneuecondensedbold';
}

.navbar-default {
    background-color: white;
    
   border-radius: 0px;
    box-shadow: 0 0 10px black;
}
.row{
    margin-left: 5%;
    margin-right: 5%;
}
@media (max-width: 480px) {
.post{
    text-align: center;
}
.newpost{
    text-align: center;
}
}


    
  