  .fields{
        margin-left: 25%;
        margin-right: 25%;
    }
    .form-control{
        border-width: 2px;
        border-color:rgba(0,0,0,0.5);
        background-color: rgba(0,0,0,0);
    }
    select{
         border-width: 2px;
        border-color:rgba(0,0,0,0.5);
        border-radius: 3px;
        color:rgba(0,0,0,0.5);
        padding: 3px;
        background-color: rgba(0,0,0,0);
      

    }
    .check{
          border-width: 2px;
        border-color:rgba(0,0,0,0.5);
        border-radius: 3px;
        background-color:white;
        color:rgba(0,0,0,0.5);

    }


h3{
    text-align: center;
    font-family: 'helveticaneuecondensedbold';
    font-size: 50px;
    margin-top: 8%;
    margin-bottom: 40px;
}
body{
    background-image: url('../img/sign2.png');
    background-repeat: no-repeat;
    background-position:50% 40%;
    background-attachment: fixed;


}
  ::-webkit-input-placeholder{
    font-size: 15px;
    opacity:1;

}

::-moz-placeholder { 
  color:rgba(0,0,0,0.8);
   opacity:1;
}
:-ms-input-placeholder { 
  color: rgba(0,0,0,0.8);
   opacity:1;
}
:-moz-placeholder { 
  color:rgba(0,0,0,0.8);
   opacity:1;
}
::-webkit-input-focus{
    border-color:black;
}
.wrapper{
    text-align: center;
}
.bton{
   
    background-color: black;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    color:white;
    border-radius: 3px;
}
.bton:focus{
  
  box-shadow: 0 0 10px black;
   background-color: white;
   color:black;
    outline: none !important;
    border:none;


}
.form-control:focus {
    outline: none !important;
    border:1px solid rgba(0,0,0,0.8);
    box-shadow: 0 0 10px black;
}
 

 ::-moz-selection {
       background-color: black;
       color: white;
}

/* Works in Safari */
::selection {
       background-color: black;
       color: white;
}
@media (max-width: 480px) {
h3{
     font-size: 35px;
    margin-top: 6%;
    margin-bottom: 20px;
}
body{
    background-position:50% 0%;
}
.fields{
  padding-left: 5%;
  padding-right: 5%; 
  margin-left: 0px;
  margin-right: 0px;
}
}
@media (max-width: 380px) {
.bton{
   margin-bottom: 2px;
   padding:7px;
}
.form-control{
    margin-bottom: 4px;
}
h3{
    margin-bottom: 13px;
}

}