html, body {
    max-width: 100%;
    overflow-x: hidden;
    height:100%;
    overflow-y:hidden; 
}
.bton{
   
    background-color: black;
    border-width: 0px;
    text-decoration: none;
    margin-bottom: 8px;
    padding:10px;
    padding-left: 30px;
    padding-right: 30px;
    color:white;
    border-radius: 3px;
}
.bton:focus{
  
  box-shadow: 0 0 10px black;
   background-color: white;
   color:black;
    outline: none !important;
    border:none;


}
 ::-moz-selection {
       background-color: black;
       color: white;
}

/* Works in Safari */
::selection {
       background-color: black;
       color: white;
}
body{
    background-image: url('../img/bg.jpg');
    background-repeat: no-repeat;
    background-position:center;
    background-size:cover;
    height:90vh;


}
.row{
  background-color: white;
  margin-left:30%;
  margin-right: 30%;
  margin-top: 10%;
  text-align: center;
  padding-top: 70px;
  padding-bottom: 70px;
  box-shadow: 0 0 20px black;
}
h1{
   font-family: 'helveticaneuecondensedbold';
    font-size: 20px;
    color:black;
    margin-bottom: 30px;
}
.img-responsive{
  height:100px;
 margin:auto;
}
@media (max-width: 1200px) {
h1{
  font-size: 18px;
}
.row{
  margin-top:10%;
}
.img-responsive{
  height:60px;
}
}
@media (max-width: 480px) {
  .img-responsive{
    height:50px;
  }
h1{
     font-size: 12px;
    
   
}
.row{
  margin-top: 30%;
  margin-left:20%;
  margin-right: 20%; 
  padding-top: 50px;
  padding-bottom: 50px;
}



}
